.user-menu {
    font-size: 12px;
}

.menu {
    :global(.anticon) {
        margin-right: 8px;
    }

    :global(.ant-dropdown-menu-item) {
        width: 160px;
    }
}

.account {
    .user-name {
        font-size: 14px;
        margin-right: 4px;
        word-break: keep-all;
    }

    .avatar {
        margin-right: 8px;
    }

    i {
        margin-left: 4px;
    }
}
