.root {
    display: flex;
    background: none;

    :global {
        .ant-tabs-nav .ant-tabs-tab .anticon {
            margin-right: 0;
            font-size: 14px;
        }
    }
}

.team-root {
    display: flex;
    flex-direction: row;
    flex: 1;
    //padding: 0;
    //margin: 0;
}

.list {
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    background: #fff;

    .top {
        flex: 0 0 110px;
        background-color: darken(@primary-color, 20);
        color: #fff;
        padding: 16px;

        :global {
            .ant-input-affix-wrapper {
                background: none;
            }

            input {
                background: none;
                color: #fff;
            }

            .ant-input-suffix svg {
                color: #fff;
            }
        }
    }

    .menu {
        flex: 1;
        overflow-y: auto;
    }
}

.team-title {
    display: flex;
    align-items: center;

    h1 {
        flex: 1;
        color: #fff;
        margin: 0;
    }

    .team-operator {
        flex: 0;
        margin-left: 8px;
        font-size: 18px;
        cursor: pointer;
    }
}

.team-description {
    padding: 16px 0;
}

.detail {
    margin-left: 16px;
    flex: 1;

    :global {
        .ant-tabs-bar {
            margin: 0;
        }

        .ant-tabs-tabpane {
            padding-left: 1px;
        }
    }
}

.pan-operator {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 24px;

    & > * {
        margin-left: 8px;
    }
}

.pan-content {
    height: 100%;
    background: #fff;
    overflow-y: auto;
    padding: 16px;
}

.empty {
    margin-top: 100px;
}

.project-wrap {
    display: flex;
    flex-flow: wrap;
}

