.root {
    padding: 0;
    margin: 0;
}

.box {
    display: flex;
}

.contents {
    flex: 0 0 200px;
    height: 100%;
    overflow: auto;
    padding-top: 16px;
}

.content-input {
    border: 0;
}

.content {
    flex: 1;
    overflow: auto;
}
