.loop( @count ) when ( @count > 0 ) {
    .ant-table-row-level-@{count} {
        & > td:nth-child(1),
        & > td:last-child {
            background: #fff;
        }

        & > td:nth-child(2) {
            position: relative;
            padding-left: ( 16px * @count );
        }
    }

    .loop((@count - 1));
}

.root {
    :global {
        .ant-empty {
            margin: 0;
        }


        .loop(50);

        .ant-table-row-level-0 > td:first-child:after {
            content: ' ';
            display: block;
            position: absolute;
            height: 100%;
            border-left: 1px solid #e8e8e8;
            border-bottom: 1px solid #e8e8e8;
            left: 0;
            top: 0;
        }
    }
}
